<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgit.iot.dao.mapper.wagon.WagonPosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xgit.iot.dao.entity.wagon.WagonPosDO">
        <id column="pos_id" property="posId" />
        <result column="code" property="code" />
        <result column="pos_info_x" property="posInfoX" />
        <result column="pos_info_y" property="posInfoY" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!--查询某个code最新位置信息-->
    <select id="wagonPos" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM silk_wagon_pos  WHERE `code` = #{code} order by `update_time` desc limit 1
    </select>

    <!--查询某个code所有信息-->
    <select id="listWagonPos" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM silk_wagon_pos  WHERE `code` = #{code} order by `update_time` desc
    </select>

    <!--添加异常-->
    <insert id="addPos" parameterType="com.xgit.iot.dao.entity.wagon.WagonPosDO" useGeneratedKeys="true" keyProperty="posId">
        INSERT INTO silk_wagon_pos
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                `code`,
            </if>
            <if test="posInfoX != null">
                `pos_info_x`,
            </if>
            <if test="posInfoY != null">
                `pos_info_y`,
            </if>
            <if test="updateTime != null">
                `update_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code},
            </if>
            <if test="posInfoX != null">
                #{posInfoX},
            </if>
            <if test="posInfoY != null">
                #{posInfoY},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="modifyPos" parameterType="com.xgit.iot.dao.entity.wagon.WagonPosDO">
        UPDATE silk_wagon
        <set>
            <if test="code != null">
                `code` = #{code},
            </if>
            <if test="posInfoX != null">
                `pos_info_x` = #{posInfoX},
            </if>
            <if test="posInfoY != null">
                `pos_info_y` = #{posInfoY},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE `pos_id` = #{posId}
    </update>

</mapper>