<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xgit.iot.dao.mapper.system.SysObjectStorageMapper">

    <resultMap id="BaseResultMap" type="com.xgit.iot.dao.entity.system.SysObjectStorageDO">
        <result property="id" jdbcType="VARCHAR" column="id"/>
        <result property="storageEngine" jdbcType="TINYINT" column="storage_engine"/>
        <result property="serviceAddress" jdbcType="VARCHAR" column="service_address"/>
        <result property="storageType" jdbcType="TINYINT" column="storage_type"/>
        <result property="filePath" jdbcType="VARCHAR" column="file_path"/>
        <result property="fileName" jdbcType="VARCHAR" column="file_name"/>
    </resultMap>

    <sql id="Base_Column_List">
id,storage_engine,service_address,storage_type,file_path,file_name    </sql>

    <select id="item" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_object_storage where id = #{id}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_object_storage
        where 1=1
    </select>

    <select id="count" resultType="java.lang.Integer">
      select count(*) from sys_object_storage
	</select>

    <insert id="insert" parameterType="com.xgit.iot.dao.entity.system.SysObjectStorageDO">
        insert into sys_object_storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="storageEngine != null">storage_engine,</if>
            <if test="serviceAddress != null">service_address,</if>
            <if test="storageType != null">storage_type,</if>
            <if test="filePath != null">file_path,</if>
            <if test="fileName != null">file_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="storageEngine != null">#{storageEngine},</if>
            <if test="serviceAddress != null">#{serviceAddress},</if>
            <if test="storageType != null">#{storageType},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="fileName != null">#{fileName},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.xgit.iot.dao.entity.system.SysObjectStorageDO">
        update sys_object_storage
        <set>
            <if test="storageEngine != null">storage_engine = #{storageEngine},</if>
            <if test="serviceAddress != null">service_address = #{serviceAddress},</if>
            <if test="storageType != null">storage_type = #{storageType},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileName != null">file_name = #{fileName}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
		delete from sys_object_storage where id = #{id}
	</delete>

</mapper>