<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xgit.iot.dao.mapper.system.SysSequenceMapper">

    <select id="getSeqByCode" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select seq from sys_sequence where code = #{code}
    </select>

    <update id="updateSeqByCode" parameterType="java.lang.Integer">
        update sys_sequence set seq = (seq + 1) where code = #{code} and seq = #{no}
    </update>

    <update id="resetSequence">
        update sys_sequence set seq = 1 where code = 2
    </update>
</mapper>
