<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgit.iot.dao.mapper.system.IusRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xgit.iot.dao.entity.system.IusRoleDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="type" property="type" />
        <result column="channel" property="channel" />
        <result column="space_id" property="spaceId" />
        <result column="dept_id" property="deptId" />
        <result column="seq_no" property="seqNo"/>

        <association property="sysCompanyDO" javaType="com.xgit.iot.dao.entity.system.SysCompanyDO">
            <result property="orgId" jdbcType="VARCHAR" column="sys_org_id"/>
            <result property="pId" jdbcType="VARCHAR" column="sys_p_id"/>
            <result property="orgName" jdbcType="VARCHAR" column="sys_org_name"/>
            <result property="orgNature" jdbcType="VARCHAR" column="sys_org_nature"/>
            <result property="orgNatureName" jdbcType="VARCHAR" column="sys_org_nature_name"/>
            <result property="engName" jdbcType="VARCHAR" column="sys_eng_name"/>
            <result property="chineseName" jdbcType="VARCHAR" column="sys_chinese_name"/>
            <result property="setupDate" jdbcType="DATE" column="sys_setup_date"/>
            <result property="principal" jdbcType="VARCHAR" column="sys_principal"/>
            <result property="tel" jdbcType="VARCHAR" column="sys_tel"/>
            <result property="email" jdbcType="VARCHAR" column="sys_email"/>
            <result property="fax" jdbcType="VARCHAR" column="sys_fax"/>
            <result property="provinceId" jdbcType="VARCHAR" column="sys_province_id"/>
            <result property="cityId" jdbcType="VARCHAR" column="sys_city_id"/>
            <result property="countyId" jdbcType="VARCHAR" column="sys_county_id"/>
            <result property="address" jdbcType="VARCHAR" column="sys_address"/>
            <result property="lng" jdbcType="DECIMAL" column="sys_lng"/>
            <result property="lat" jdbcType="DECIMAL" column="sys_lat"/>
            <result property="companyWebsite" jdbcType="VARCHAR" column="sys_company_website"/>
            <result property="scopeBusiness" jdbcType="VARCHAR" column="sys_scope_business"/>
            <result property="remark" jdbcType="VARCHAR" column="sys_remark"/>
            <result property="deleted" jdbcType="INTEGER" column="sys_deleted"/>
            <result property="createDate" jdbcType="DATE" column="sys_create_date"/>
            <result property="createUserId" jdbcType="VARCHAR" column="sys_create_user_id"/>
            <result property="createUserName" jdbcType="VARCHAR" column="sys_create_user_name"/>
            <result property="modifyDate" jdbcType="DATE" column="sys_modify_date"/>
            <result property="modifyUserId" jdbcType="VARCHAR" column="sys_modify_user_id"/>
            <result property="modifyUserName" jdbcType="VARCHAR" column="sys_modify_user_name"/>
            <result property="enabled" jdbcType="INTEGER" column="sys_enabled"/>
            <result property="zipCode" jdbcType="VARCHAR" column="sys_zip_code"/>
            <result property="areaName" jdbcType="VARCHAR" column="sys_area_name"/>
        </association>
    </resultMap>


    <select id="listRoles" resultMap="BaseResultMap">
        SELECT
        role.id, role.name, role.remark, role.type, role.channel, role.space_id, role.dept_id, role.seq_no,
        sys.org_id AS sys_org_id, sys.org_name AS sys_org_name
        FROM ius_role role
        LEFT JOIN sys_company sys ON role.dept_id=sys.org_id
        <where>
            <if test="deptId != null">
                AND role.dept_id = #{deptId}
            </if>
            <if test="name != null">
                AND role.name LIKE  concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <!--显示所有的role  给用户管理界面使用-->
    <select id="listAllRoles" resultMap="BaseResultMap">
        SELECT
        role.id, role.name, role.remark, role.type, role.channel, role.space_id, role.dept_id, role.seq_no,
        sys.org_id AS sys_org_id, sys.org_name AS sys_org_name
        FROM ius_role role
        LEFT JOIN sys_company sys ON role.dept_id=sys.org_id
        <where>
            <if test="deptId != null">
                AND role.dept_id = #{deptId}
            </if>
            <if test="name != null">
                AND role.name LIKE  concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="searchListRoles" resultMap="BaseResultMap">
        SELECT
        role.id, role.name, role.remark, role.type, role.channel, role.space_id, role.dept_id, role.seq_no,
        sys.org_id AS sys_org_id, sys.org_name AS sys_org_name
        FROM ius_role role
        LEFT JOIN sys_company sys ON role.dept_id=sys.org_id
        <where>
            <if test="deptId != null">
                AND role.dept_id = #{deptId}
            </if>
            <if test="name != null">
                AND role.name LIKE  concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>