<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgit.iot.dao.entity.system.IusWorkspaceDO">

    <resultMap id="BaseResultMap" type="com.xgit.iot.dao.entity.system.IusWorkspaceDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="site" property="site"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="temp_id" property="tempId"/>
        <result column="space_type" property="spaceType"/>
    </resultMap>
</mapper>